<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/input.css">
  <link rel="stylesheet" href="styles/bootstrap.css">
</head>
<body>

  <div class="wrapper">
    <nav class="flex-nav">
      <ul>
        <li><a href="/login.html">Login</a></li>
        <li><a href="/signup.html">Signup</a></li>
      </ul>
    </nav>
    

     <div>
        <div class="form-control tags-input">
            <span class="badge badge-pill badge-light"
                v-for="(badge, index) in tagBadges"
                :key="index"
            >
                <span v-html="badge"></span>

                <i href="#" class="tagsinput-remove" @click.prevent="removeTag(index)"></i>
            </span>

            <input type="text"
                placeholder="Add a tag"
                v-model="input"
                @keypress.enter.prevent="tagFromInput"
                @keypress.backspace="removeLastTag"
                @keypress.down="nextSearchResult"
                @keypress.up="prevSearchResult"
                @keypress.esc="ignoreSearchResults"
                @keyup="searchTag">

            <input type="hidden" :name="elementId" :id="elementId" v-model="hiddenInput">
        </div>

        <p v-show="searchResults.length" class="typeahead">
            <span v-for="(tag, index) in searchResults"
                :key="index"
                v-text="tag.text"
                @click="tagFromSearch(tag)"
                class="badge"
                v-bind:class="{
                    'badge-primary': index == searchSelection,
                    'badge-dark': index != searchSelection
                }"></span>
        </p>
    </div>










<!--
    <div class="cover" id="hobbies">
      <div class="flex-form">
        <section class="panel">
          <input type="text" autofocus class="text-input" v-model="newHobby" 
          v-on:keyup.enter="addHobby" 
          placeholder="Add Your Hobbies">
          <button v-on:click="submitList">Add Hobbies</button>
        </section>
      </div>
    </div>
  </div>

  -->
  <script src="js/dependencies/vue.js"></script>
  <script src="js/dependencies/index.js"></script>
   <script src="js/dependencies/tag.js"></script>
</body>
</html>