<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notify Me</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/bootstrap.css">
</head>
<body>

  <div class="wrapper">
    <nav class="flex-nav">
      <ul>
        <li><a href="/login.html">Login</a></li>
        <li><a href="/signup.html">Signup</a></li>
      </ul>
    </nav>
  </div>
    
    <div id='hobbies'>
       <div class="cover">
        <div class="form-control tags-input">
            <span class="badge badge-pill badge-light"
                v-for="(hobbies, index) in oldHobbies"
                :key="index">
                <span v-html="hobbies"></span>
                <i href="#" class="tagsinput-remove" @click.prevent="removeTag(index)"></i>
            </span>
            <h1>You need to login or signup first</h1>
        </div>
    </div>
    </div>
    
  <script src="js/dependencies/vue.js"></script>
  <script src="js/dependencies/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>