<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notify Me App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>

  <div class="wrapper">
    <nav class="flex-nav">

      <h1 class="font-reload">You Are Logged In, Now Add Your Hobbies</h1><i class="em em-drooling_face"></i>
       <a href="/logout">Logout</a>
      </ul>

    </nav>
  </div>
    
    <div id='hobbies'>
       <div class="cover">
        <div class="form-control tags-input">
            <span class="badge badge-pill badge-light"
                v-for="(hobbies, index) in oldHobbies"
                :key="index">
                <span v-html="hobbies"></span>
                <i href="#" class="tagsinput-remove" @click.prevent="removeTag(index)"></i>
            </span>

            <input type="text"
                placeholder="Add an hobby"
                v-model="newHobbies"
                v-on:keyup.enter="addHobbies">
        </div>

        <span v-for="hobby in hobbies">
          {{hobby.text}}
        </span>
      </div>
    </div>
    
  <script src="js/dependencies/vue.js"></script>
  <script src="js/dependencies/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>