.tags-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tags-input input {
    flex: 1;
    background: transparent;
    border: none;
}
.tags-input span {
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
}
.tagsinput-remove {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
}
.tagsinput-remove:before, .tagsinput-remove:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: #5dc282;
    height: 2px;
    margin-top: -1px;
}
.tagsinput-remove:before {
    transform: rotate(45deg);
}
.tagsinput-remove:after {
    transform: rotate(-45deg);
}
.typeahead > span {
    cursor: pointer;
    margin-right: 0.3rem;
}