
html {
  box-sizing: border-box;
}
ul,li
{
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}

.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.flex-nav li {
  flex:3;
}

@media all and (max-width:1000px) {
  
  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }
}

@media all and (max-width:500px) {
  
  .flex-nav li {
    flex-basis:100%;
  }

}

.cover  {
  width:70%;
  margin: 0 auto;
  align-content: center;
  height: 100vh;
}

.font-reload {
  color: #495057;
  background-color: #fff;
}

.tags-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tags-input input {
    flex: 1;
    background: transparent;
    border: none;
}
.tags-input span {
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
}
.tagsinput-remove {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
}

.tagsinput-remove:before, .tagsinput-remove:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: #5dc282;
    height: 2px;
    margin-top: -1px;
}

.tagsinput-remove:before {
    transform: rotate(45deg);
}

.tagsinput-remove:after {
    transform: rotate(-45deg);
}
.typeahead > span {
    cursor: pointer;
    margin-right: 0.3rem;
}

